*.egg-info
data/raw/calibration/*
data/raw/behavior/*
docs
bin/temp
results/figures/*
results/data/*
results/tables/*
results/plot
results/temp
results/df_all*
results/Dyn*
!results/figures/README.md
!results/data/README.md
!data/raw/calibration/README.md
!data/raw/behavior/README.md
bin/__py*
bin/.ipynb*
.DS*
setup.py
.history
*.code-workspace
toolboxes/nx3k_matlab/*
!toolboxes/README.md
